header
{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}
.Main {
    background-color: #f3f9ff;
    padding: 1rem;
    display: flex;

    .TableContainer {
        flex: 1;
        border-radius: 4px;
        border: thin solid #0b2642;
        max-height: 80vh;
        overflow-y: auto;

        .Table {
            width: 100%;

            td,
            th {
                width: 25%;
                padding: 0.75rem;
                text-align: center;
                border-bottom: thin solid #ccc;
            }

            th {
                background-color: #c9a0ec;
                position: sticky;
                top: 0px;
            }

            .Actions {
                
                button {
                    margin: 0 .5rem;
                }
            }
        }
    }
}

