.Button{
    padding: 0.5rem 1.25rem;
    border: thin solid black;
    border-radius: 4px;
    color: black;
    background-color:rgb(193, 150, 234);
    transition: all 0.3s;
    cursor: pointer;
    margin: 0.5rem;


}

