.Header {
  display: flex;
  justify-content: space-between;

  padding: 1rem;
  border-radius: 10px;
  box-shadow: 1px 1px 8px 1px #ccc;

  input {
    padding: 0.5rem;
    border-radius: 10px;
  }
}

.DetailPage {
  display: flex;
  height: 100vh;

  .SideBar {
    flex: 3;
 

    img {
      width: 90%;
      border-radius: 10px;
      margin: 1rem;
      box-shadow: 1px 1px  8px 1px  #8a8787;
    }
  }

  .ReviewSection {
    flex: 8;
    background-color: #d5cbf5;
  
   
     .Review{
      padding: 0.5rem;
      box-shadow: 1px 1px 8px 1px #ccc;
      border-radius: 10px;
      background-color: white;
      margin: 1rem;
      gap: 0.5rem;
      display: flex;
      flex-direction: column;
    }
    .Comment{
      color: #686767;
     
    }

   
  }
  
}




.Info {
  padding: 15px;
}

.Name {
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.Rating {
  color: #f39c12;
  font-size: 1em;
  font-weight: 600;
  margin: 0.5rem 0;
}

.Address {
  font-size: 1em;
  color: grey;
  font-weight: bold;
}
