.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  border-radius: 10px;
  box-shadow: 1px 1px 8px 1px #ccc;
  background-color: #fff;

  h1 {
    font-size: 1.8rem;
    color: #333;
    letter-spacing: 1px;
  }

  input {
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 0.5rem 1rem;
    width: 250px;
    transition: all 0.2s ease-in-out;

    &:focus {
      outline: none;
      border-color: #888;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    }
  }
}


.actions {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
}

.profileWrapper {
  position: relative;

  
  &:hover .dropdown {
    display: flex;
  }
}

.dropdown {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  flex-direction: column;
  padding: 5px 0;
  z-index: 10;
  padding: 0.5rem;

  a {
    padding: 8px 16px;
    text-decoration: none;
    color: inherit;
    cursor: pointer;

    &:hover {
      background: #f0f0f0;
    }
  }
}


