.Form
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 8px 1px #ccc;
    width: 30%;
    margin-left: 35%;
    margin-top: 10%;
    padding:  1rem ;
    border-radius: 10px;
    background-color: white;
    position: relative;
   h2{
    padding: 1rem;
   }


   input{
        margin: 0.4rem;
        padding: 0.5rem;
        border-radius: 10px;
        border: none;
        border: 1px solid black;
    }

    .CloseButton{
        position: absolute;
        right: 0.5rem;
        top:0.3rem;
    }



 
    .Radio
    {
        display: flex;
        justify-content: space-between;
    }

    p{
        color: red;
    }

  
}

